.myInput {
  /* margin-bottom: 1em; */
  width: 7rem;
  margin-right: 0.25rem;
  display: flex;
  flex-direction: column;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 0.5rem;
  width: 7rem;
  background-image: url("../assets/icons_inputArrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-family: "DillonRegular";
  font-size: 1.25rem;
  color: white;
  border-radius: 0;
  border: none;
  height: 2rem;
  background-color: var(--maincolor);
}

select:hover {
  background-color: var(--hovercolor);
}

.inputLabel {
  font-size: 0.75rem;
  color: var(--maincolor);
  padding: 0.125rem 0 0 0.5rem;
  height: 1rem;
}

.selectWrapper::before {
  position: absolute;
  font-family: "DillonRegular";
  font-size: 1.25rem;
  color: white;
}

select:focus {
  outline: none;
}
